@{
    ViewData["Title"] = "";
}
@model Code.EntityFramework.Entity.mac_vod
<style>
    .row div {
        /*border:1px solid #000;*/
    }

    .header_div {
        display: table-cell;
        vertical-align: top;
    }

        .header_div img {
            width: 100%;
        }

        .header_div a {
            position: relative;
            width: 194px;
            display: block;
            color: #fff;
        }

    .textbg {
        position: absolute;
        bottom: 0px;
        right: 3px;
    }

    .header_left .d-none {
        font-size: 14px;
        margin-top: 10px;
        width: 100%;
    }

    .header_left {
        display: table-cell;
        vertical-align: top;
        width: 100%;
        padding-left: 2%;
    }

    .left {
        margin: 0px;
    }

    .d_name {
        font-size: 18px !important;
    }

    .start {
        margin-top: 20px;
    }

    .nav-item .active {
        border: 0;
        background: none;
        border-bottom: 2px solid #09BB07;
        color: #09BB07;
    }

    .nav-link {
        color: #000;
    }

    .header_ul {
        border-bottom: 2px solid #eee;
    }

    .nav-item a {
        padding: 8px 0px;
        margin-right: 32px;
    }

    .bg-light {
        margin-top: 20px;
    }

    #Content {
        margin-top: 20px;
        font-size: 12px;
    }

    #accordion {
        width: 100%;
    }

    .card-header {
        background-color: white !important;
        padding: 0.75rem 0rem;
    }

    .card-link:hover {
        color: #000;
    }

    .card-link {
        color: #000;
        font-size: 14px;
    }

    .card-body a {
        padding: 5px;
        font-size: 12px;
        text-align: center;
        border-radius: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        border: 1px solid #ccc;
        margin-right: 10px;
    }

    .card-body li {
        margin-bottom: 10px;
    }

    .d_ms {
        color: #999;
        font-size: 12px !important;
    }

    @@media screen and (max-width: 768px) {
        .header_div {
            width: 40% !important;
        }

            .header_div a {
                width: 100% !important;
            }

        #video_iframe, #videoPlayer {
            height: 15rem !important;
        }
    }

    #video_iframe, #videoPlayer {
        height: 25rem;
    }

    .video-js {
        height: 100% !important;
        width: 100% !important;
    }
</style>
<style>
    .viode_header {
        margin-top: 15px;
        margin-bottom: 5px;
        padding-left: 1%;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .row_z div img {
        width: 165px;
        height: 180px;
    }

    .vide_a .play {
        display: none;
        position: absolute;
        top: 0;
        left: -5px;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.3) url("../../image/play.png") center no-repeat;
    }

    .vide_a:hover .play {
        display: block;
    }

    .vide_a {
        display: block;
        position: relative;
        padding-top: 130%;
    }

        .vide_a span {
            left: 1%;
            font-size: 12px;
            color: #fff;
            margin-left: 5px;
        }

    .viode_header a {
        color: #999;
    }

    .viode_header .h3 {
        color: #333;
        font-size: 16px;
    }

    @@media screen and (max-width: 768px) {
        [class*=col-] {
            padding: 5px !important;
        }
    }

    .col-xl-9 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .col-xl-3 {
        padding-right: 0 !important;
        padding-left: 8px;
    }

    .col-xs-1-5,
    .col-sm-1-5,
    .col-md-1-5,
    .col-lg-1-5 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
        float: left;
    }



    @@media (min-width: 768px) {
        .col-sm-1-5 {
            max-width: 25%;
        }
    }

    @@media (min-width: 1200px) {
        .col-xl-2 {
            flex: none !important;
        }
    }

    @@media (max-width: 768px) {
        .hidden-xs {
            display: none !important;
        }
    }

    @@media (min-width: 992px) {
        .col-md-1-5, .col-sm-1-5 {
            max-width: 20%;
        }
    }

    @@media (min-width: 1199px) {
        .col-md-1-5 {
            max-width: 16.66669%; /*20%*/
        }

        .col-sm-1-5 {
            max-width: 20%;
        }
    }

    .title {
        font-size: 14px;
        font-weight: 400;
        margin-top: 7px;
        display: inline-block;
    }

    .actor {
        font-size: 14px;
        color: #999;
        margin-bottom: 10px;
        display: inline-block;
        margin-top: -3px;
    }

    .text-overflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .bf {
        margin-top: 10px;
    }

        .bf span {
            font-size: 12px;
        }

        .bf .title {
            color: #999;
        }

            .bf .title + span {
                margin-right: 10px;
            }

    .d_time span:nth-child(2) {
        margin-right: 10px;
    }

    .d_Area div {
        width: 15%;
        display: inline-block;
    }

    .d_time div {
        width: 15%;
        display: inline-block;
    }

        .d_time div:last-child {
            width: 30%;
        }

    .card-body {
        padding-left: 0px !important;
    }

        .card-body a {
            color: #000;
        }
</style>

<div class="row">
    <div class="col-lg-12">
        @if (ViewBag.Page == "play")
        {

            <partial name="Video_iframe" model="Model" />
        }
        else
        {
            <partial name="Intro" model="Model" />
        }
        <div class="bg-light">
            <div>
                <ul class="nav header_ul" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#movie">播放线路</a>
                    </li>
                    <li class="nav-item">


                        <a class="nav-link " data-toggle="tab" href="#Content">剧情介绍</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div id="movie" class="tab-pane active">
                    <div class="row">
                        <div id="accordion">
                            @{ int n = 0;}
                            @foreach (var item in ViewBag.Path)
                            {
                                <div>
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#@("collapseOne" + n)">
                                            @("云播" + n)
                                        </a>
                                    </div>
                                    <div id="@("collapseOne" + n)" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            <ul class="nav">
                                                @{ int i = 0;}
                                                @foreach (var url in item)
                                                {
                                                    <li><a href="/play/@Model.Vod_Id-@n-@(i).html">@url.Key</a></li>
                                                    i++;
                                                }
                                                @{n++;}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div id="Content" class="container tab-pane">
                    <div class="row">@Html.Raw(Model.Vod_Content)</div>
                </div>
            </div>

        </div>
        <div class="new">
            <div class="viode_header"><span class="h3">猜你喜欢</span></div>
            <div class="row z_row">

                @{ int q = 0;}
                @foreach (var movie in ViewBag.TJ)
                {
                    
                    var clas = q < 10 ? "" : q < 12 ? " d-lg-none" : "d-none d-xl-block";
                    <div class="col-md-1-5 col-sm-3 col-xl-2 col-xs-4 @clas">
                        <!---col-md-1-5-->
                        <a class="vide_a lazy" href="@movie.Vod_Play_Url" title="@movie.Vod_Name" data-original="@movie.Vod_Pic" style="background: url(&quot;@movie.Vod_Pic&quot;) 50% 50% / cover no-repeat; display: block;">
                            <span class="play hidden-xs"></span>
                            <span class="note textbg">@movie.Vod_Remarks</span>
                        </a>
                        <div class="xia">
                            <span class="title text-overflow"><a href="#">@movie.Vod_Name</a></span>
                            <span class="actor text-overflow d-none d-md-block">@movie.Vod_Actor</span>
                        </div>
                    </div>
                    q++;
                }

                @* ------------- *@
            </div>
        </div>

        @*<div class="col-lg-3 d-none d-lg-block">

            </div>*@
    </div>
</div>
