@model List<Code.EntityFramework.Entity.Banner>
@{
    ViewData["Title"] = "Home Page";
}

<partial name="view_pager" model='@Model' />

<style>
    /*.row div {
        border: 1px solid #000000;
    }*/
    #view_pager .carousel-indicators {
        bottom: -10px !important;
    }

    #view_pager .active .carousel-indicators {
        bottom: 15px !important;
        color: #fff;
    }

    .viode_header {
        margin-top: 15px;
        margin-bottom: 5px;
        padding-left: 1%;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

        .row div img {
            width: 165px;
            height: 180px;
        }

    .vide_a .play {
        display: none;
        position: absolute;
        top: 0;
        left: -5px;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.3) url("../../image/play.png") center no-repeat;
    }
    .vide_a:hover .play {
        display: block;
    }
        .vide_a {
            display: block;
            position: relative;
            padding-top: 130%;
        }

        .vide_a span {
            left: 1%;
            font-size: 12px;
            color: #fff;
            margin-left: 5px;
        }

    .viode_header a {
        color: #999;
    }

    .viode_header .h3 {
        color: #333;
        font-size: 16px;
    }

    @@media screen and (max-width: 768px) {
        [class*=col-] {
            padding: 5px !important;
        }
    }

    .col-xl-9 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .col-xl-3 {
        padding-right: 0 !important;
        padding-left: 8px;
    }

    .col-xs-1-5,
    .col-sm-1-5,
    .col-md-1-5,
    .col-lg-1-5 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
        float: left;
    }



    @@media (min-width: 768px) {
        .col-sm-1-5 {
            max-width: 25%;
        }
    }

    @@media (min-width: 992px) {
        .col-md-1-5, .col-sm-1-5 {
            max-width: 20%;
        }
    }

    @@media (min-width: 1199px) {
        .col-md-1-5 {
            max-width: 16.666667%;
        }

        .col-sm-1-5 {
            max-width: 20%;
        }
    }

    .video_a {
        padding-top: 100px;
    }

    ul li {
        list-style: none;
    }

    ul {
        padding-left: 1%;
    }

    .col-sm-* {
        padding-bottom: 10px;
    }

    .title {
        font-size: 14px;
        font-weight: 400;
        margin-top: 7px;
        display: inline-block;
    }

    .actor {
        font-size: 14px;
        color: #999;
        margin-bottom: 10px;
        display: inline-block;
        margin-top: -3px;
    }

    .text-overflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .li_one:nth-child(0) {
        display: inline-block;
    }

    .num {
        position: absolute;
        padding: 0px 9px;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        font-weight: 500;
        color: #999;
    }

    .right_title {
        margin-left: 13%;
    }

    .recommend li {
        margin: 10px 0px;
        font-size: 14px;
    }

    .one_re {
        position: absolute;
        margin-left: 7px;
        display: inline-block;
    }

    .banner_Pic {
        background-position: 50% 50% !important;
        background-size: cover !important;
        display: block;
        padding-top: 41%;
    }
</style>

<div class="new">
    <div class="viode_header"><span class="h3">最近更新</span><span class="float-right"><a href="#">更多>></a></span></div>
    <div class="row">

        @for (int i = 0; i < 10; i++)
        {

            var clas = i > 5 && i <= 7 ? "d-none d-sm-block  d-xl-none" : i > 7 && i <= 9 ? "d-none d-lg-block d-xl-none" : "";
            var item = ViewBag.NewList[i];
            <div class="col-md-1-5 col-sm-play col-xl-2 col-xs-4 @clas ">
                <a class="vide_a lazy" href="/dm/41739/" title="@item.Name.Replace("影片名称: ", "")" data-original="@item.Pic_address" style="background: url(&quot;@item.Pic_address&quot;) 50% 50% / cover no-repeat; display: block;">
                    <span class="play hidden-xs"></span>
                    <span class="note textbg">@item.Move_mark.Replace("影片备注: ", "")</span>
                </a>
                <div class="xia">
                    <span class="title text-overflow"><a href="#">@item.Move_name.Replace("影片名称: ", "")</a></span>
                    <span class="actor text-overflow d-none d-md-block">@item.Move_star.Replace("影片主演: ", "")</span>
                </div>
            </div>


        }
    </div>
</div>

<div class="new">
    <div class="row">
        <div class="col-xl-9">
            <div class="viode_header">
                <span>最近更新<span class="float-right"><a href="#">更多>></a></span></span>
            </div>

            @for (int i = 0; i < ViewBag.NewList.Count; i++)
            {
                var item = ViewBag.NewList[i];
                <div class="col-sm-1-5 col-sm-3 col-xl-2 col-xs-4">
                    <!---col-md-1-5-->
                    <a class="vide_a lazy" href="/dm/41739/" title="不吉波普不笑" data-original="@item.Pic_address" style="background: url(&quot;@item.Pic_address&quot;) 50% 50% / cover no-repeat; display: block;">
                        <span class="play hidden-xs"></span>
                        <span class="note textbg">更新至15集</span>
                    </a>
                    <div class="xia">
                        <span class="title text-overflow"><a href="#">英雄诀</a></span>
                        <span class="actor text-overflow d-none d-md-block">宁静,张睿,吕良伟,杜志国睿,吕良伟,杜志国</span>
                    </div>
                </div>
            }


            <div class="col-sm-1-5 col-sm-3 col-xl-2 col-xs-4 d-block d-lg-none">
                <!---col-md-1-5-->
                <a class="vide_a lazy" href="/dm/41739/" title="不吉波普不笑" data-original="https://fxpic.img666.com:7777/uploads/allimg/190104/41ca3191d13a7d4e.jpg" style="background: url(&quot;https://fxpic.img666.com:7777/uploads/allimg/190104/41ca3191d13a7d4e.jpg&quot;) 50% 50% / cover no-repeat; display: block;">
                    <span class="play hidden-xs"></span>
                    <span class="note textbg">更新至15集</span>
                </a>
            </div>
            <div class="col-sm-1-5 col-sm-3 col-xl-2 col-xs-4  d-block d-lg-none">
                <!---col-md-1-5-->
                <a class="vide_a lazy" href="/dm/41739/" title="不吉波普不笑" data-original="https://fxpic.img666.com:7777/uploads/allimg/190104/41ca3191d13a7d4e.jpg" style="background: url(&quot;https://fxpic.img666.com:7777/uploads/allimg/190104/41ca3191d13a7d4e.jpg&quot;) 50% 50% / cover no-repeat; display: block;">
                    <span class="play hidden-xs"></span>
                    <span class="note textbg">更新至15集</span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 d-none d-xl-block">
            <div class="viode_header">
                <div class="">电影<span class="float-right"><a href="#">更多>></a></span></div>
            </div>
            <div class="recommend">
                <ul>
                    <li class="li_one">
                        <div class="num" style="color:#fff;background-color:#ff3000;">1</div>
                        <a class="video_a" href="/dm/41739/" title="不吉波普不笑" data-original="https://fxpic.img666.com:7777/uploads/allimg/190104/41ca3191d13a7d4e.jpg" style="background: url(&quot;https://fxpic.img666.com:7777/uploads/allimg/190104/41ca3191d13a7d4e.jpg&quot;) 50% 50% / cover no-repeat; display: inline-block; width:70px"></a>
                        <div class="one_re">
                            <a href="#">不吉波普不笑</a>
                            <div>类型：动作片</div>
                            <div>地区：内地</div>
                            <div>演员：xxx、xxx、xxx、xxx</div>
                        </div>
                    </li>
                    <li>
                        <div class="num" style="color:#fff;background-color:#ff6000;">2</div>
                        <span class="right_title">不吉波普不笑</span>
                    </li>
                    <li>
                        <div class="num" style="color:#fff;background-color:#ffb400;">3</div>
                        <span class="right_title">不吉波普不笑</span>
                    </li>
                    @for (int i = 4; i < 11; i++)
                    {
                        <li>
                            <div class="num">@i</div>
                            <span class="right_title">不吉波普不笑</span>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>
</div>

