@{
    ViewData["Title"] = "";
}
@model Code.EntityFramework.Entity.mac_vod

<style>
    .movies_header{
        width:100%;
       
    }
    .movies_header div {
        display: inline-block;
    }
    .movies_header div:nth-child(2) {
        float: right;
    }
    .movies_class {
        width: 100%;
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
    }
    .movies_class ul, span, li {
        float: left;
        list-style:none;
        font-size:14px;
    }
    .movies_class ul {
        padding-left: 10px;
    }
    .movies_class li {
        padding-left: 10px;
    }
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

        .row div img {
            width: 165px;
            height: 180px;
        }

    .vide_a .play {
        display: none;
        position: absolute;
        top: 0;
        left: -5px;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.3) url("../../image/play.png") center no-repeat;
    }

    .vide_a:hover .play {
        display: block;
    }

    .vide_a {
        display: block;
        position: relative;
        padding-top: 130%;
    }

        .vide_a span {
            left: 1%;
            font-size: 12px;
            color: #fff;
            margin-left: 5px;
        }

    .viode_header a {
        color: #999;
    }

    .viode_header .h3 {
        color: #333;
        font-size: 16px;
    }

    @@media screen and (max-width: 768px) {
        [class*=col-] {
            padding: 5px !important;
        }
    }
    .text-overflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
</style>

<div class="row">
    <div class="movies_header">
        <div>动漫</div>
        <div>共有“1161”部影片，当前第“1”页</div>
    </div>

    <div class="movies_class">
        <span>按分类</span>
        <ul>
            <li>动作片</li>
            <li>动作片</li>
            <li>动作片</li>
            <li>动作片</li>
        </ul>
    </div>
    <div class="row">


        @*@for (int i = 0; i < 10; i++)
        {
            var clas = i > 5 && i <= 7 ? "d-none d-sm-block  d-xl-none" : i > 7 && i <= 9 ? "d-none d-lg-block d-xl-none" : "";
            var item = ViewBag.NewList[i];
            //var typep = (int)item.Type_Id;
            <div class="col-md-1-5 col-sm-3 col-xl-2 col-xs-4 @clas ">
                @*var type = SugarBase.DB.Queryable<Code.EntityFramework.Entity.mac_type>
                ().First(o => o.Type_Id == typep);
                string en = type.Type_En;
                if (type.type_Pid != 0)
                {
                en = SugarBase.DB.Queryable<Code.EntityFramework.Entity.mac_type>
                    ().First(o => o.Type_Id == type.type_Pid).Type_En + "/" + en;
                    }

                    en = "/" + en + "/" + item.Vod_Id + ".html";
                <a class="vide_a lazy" href="@item.Vod_Play_Url" title="@item.Vod_Name" data-original="@item.Vod_Pic" style="background: url(&quot;@item.Vod_Pic&quot;) 50% 50% / cover no-repeat; display: block;">
                    <span class="play hidden-xs"></span>
                    <span class="note textbg">@item.Vod_Remarks</span>
                </a>
                <div class="xia">
                    <span class="title text-overflow"><a href="@item.Vod_Play_Url">@item.Vod_Name</a></span>
                    <span class="actor text-overflow d-none d-md-block">@item.Vod_Actor</span>
                </div>
            </div>
        }*@
        @{ int i = 0;}
        @foreach (var item in ViewBag.MovieList)
        {

            //var clas = i > 5 && i <= 7 ? "d-none d-sm-block  d-xl-none" : i > 7 && i <= 9 ? "d-none d-lg-block d-xl-none" : "";

            <div class="col-md-1-5 col-sm-3 col-xl-2 col-xs-4">
                @*var type = SugarBase.DB.Queryable<Code.EntityFramework.Entity.mac_type>
                ().First(o => o.Type_Id == typep);
                string en = type.Type_En;
                if (type.type_Pid != 0)
                {
                en = SugarBase.DB.Queryable<Code.EntityFramework.Entity.mac_type>
                    ().First(o => o.Type_Id == type.type_Pid).Type_En + "/" + en;
                    }

                    en = "/" + en + "/" + item.Vod_Id + ".html";*@
                <a class="vide_a lazy" href="@item.Vod_Play_Url" title="@item.Vod_Name" data-original="@item.Vod_Pic" style="background: url(&quot;@item.Vod_Pic&quot;) 50% 50% / cover no-repeat; display: block;">
                    <span class="play hidden-xs"></span>
                    <span class="note textbg">@item.Vod_Remarks</span>
                </a>
                <div class="xia">
                    <span class="title text-overflow"><a href="@item.Vod_Play_Url">@item.Vod_Name</a></span>
                    <span class="actor text-overflow d-none d-md-block">@item.Vod_Actor</span>
                </div>
            </div>
            i++;
        }
    </div>
</div>